---
title: 'Hello! <br /> I am Andrew MacLeod <span class="sr-only">of the Clan MacLeod.</span>'
subtitle: and I am a Software Engineer.
layout: layout.njk
---

<section id="experience">
    <h2>Experience</h2>

    <p>
        I currently work as Principal Engineer for a property-tech company in London.<br />
        Below are some of the things I've done in my previous roles. <br />
        You can also read more about me on 
        <a href="https://www.linkedin.com/in/andrewmacleodnottingham"
            target="_blank"
            rel="noopener"
            title="Andrew MacLeod LinkedIn Profile"
            >LinkedIn <span class="sr-only">(opens in a new tab)</span>
        </a>.
    </p>

    <div class="experience">
        {% for experience in collections.experience | sort(attribute="data.order") %}

        <div class="experience-card">
            <h3><a href="{{ experience.url }}">{{ experience.data.linkFriendlyTitle }}</a></h3>
            <p>
                {{ experience.data.intro }}
            </p>
        </div>

        {% endfor %}
    </div>
</section>

<section id="about" class="about">
    <h2>About Me</h2>
    <p>I like to cook, read, and play retro computer games.</p>
</section>

<section id="contact" class="contact">
    <h2>Contact</h2>
    <p>You can email me at <a href="mailto:andrewmacleod.com@gmail.com">andrewmacleod.com@gmail.com</a>.</p>
</section>

